name: test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test-packages:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DATABASE_NAME: $DATABASE_NAME
          PORT: $PORT
          NODE_ENV: $NODE_ENV
          WHEATHER_API_KEY: ${{secrets.WHEATHER_API_KEY}}
